* { box-sizing: border-box; }
body {
background-color: #5280C5;
background-image: url(gradientblue.jpg);
color: #003366;
font-family: Verdana, Arial, san-serif;
}
#wrapper {
background-color: #F0F0F0;
margin-left: auto;
margin-right: auto;
width: 90%; 
min-width: 700px;
}
header { 
background-color: #000066;
background-image: url(bigfish.gif);
background-position: center;
background-repeat: no-repeat;
color: #F0F0F0;
font-family: Georgia, "Times New Roman", serif;
padding: 1em;
text-align: center;
}
header a {text-decoration: none; }
header a:link      { color: #F0F0F0; }
header a: visited { color: #F0F0F0; }
header a:hover     { color: #AEC35E3; }
h1 {
font-size: 3em;
padding: .5em;
width: 180px;
}
h2 {
font-size: 1.2em;
text-shadow: 1px 1px 1px #777;
}
nav {
background-color: #5280C5;
font-weight: bold;
padding: .5em;
text-align: center;
}
main {
padding-left: 2em;
padding-right: 2em;
}
dt{
color: #5280C5;
font-size: 1.1em;
font-family: Georgia, "Times New Roman", serif;
font-weight: bold;
}
.category { 
color: #5380C5;
font-family: Georgia, "Times New Roman", serif; 
font-weight: bold;
}
footer { 
background-color: #AEC3E3;
font-size: .70em;
font-style: italic;
padding-bottom: .5em;
text-align: center;
}
footer nav {
background-color: #F0F0F0;
font-size: 110%;
padding-bottom: .5em;
}
